html{
    background-color: antiquewhite;
}

#information {
    margin-top: 10%;
    margin-left: 10%;

}
#body{
    display: -webkit-flex;
    display: flex;
}
#picture {
    margin-left: 10%;
    margin-top: 5%;

}

#table {
    margin-left: 10%;
}

th {
    font-size: 13px;
    font-weight: normal;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
    padding: 8px;
}

td {
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px;
}

#header {
    color: #666699;
    font-family: cursive;
    font-size: larger;
    position: relative;
    text-align:  center;
}
